html {

}

* {

}

body {
	background-image: url("assets/images/map1.jpg");
	background-color: #fff;
	color: 	#5f87bb;
	font-size: 20px;
	font-weight: bold;
	font-family: tahoma, arial, sans-serif;
}

header, footer, #wrapper {
	width: 100%
}

#game {
	background-color: #fff;
	opacity: 0.75;
	margin: 30px;
	border: 2px solid #000;
}